---
const today = new Date();
---
<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {today.getFullYear()}. All rights reserved.  <a
			href="https://github.com/chaddupuis/"
			class="underline"
		>
			<span class="dark:text-myteal-300 text-myteal-700"> Chad Dupuis</span>
		</a>
	</p>
</footer>
