---
import Layout from '@layouts/Layout.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Work from '@components/Work.astro';
import Connect from '@components/Connect.astro';

---

<Layout>
	<main class="mx-2 md:mx-8 lg:mx-16">
		<Hero />
		<About />
		<Work /> 
		<Connect />
		<BackToTop />
	</main>
</Layout>