@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-myteal-50: #eff9f8;
    --color-myteal-100: #def3f0;
    --color-myteal-200: #bee7e1;
    --color-myteal-300: #9ddcd3;
    --color-myteal-400: #7dd0c4;
    --color-myteal-500: #5cc4b5;
    --color-myteal-600: #4a9d91;
    --color-myteal-700: #37766d;
    --color-myteal-800: #254e48;
    --color-myteal-900: #122724;
    --color-mygreen-50: #f5faf0;
    --color-mygreen-100: #ecf5e1;
    --color-mygreen-200: #d9ecc2;
    --color-mygreen-300: #c5e2a4;
    --color-mygreen-400: #b2d985;
    --color-mygreen-500: #9fcf67;
    --color-mygreen-600: #7fa652;
    --color-mygreen-700: #5f7c3e;
    --color-mygreen-800: #405329;
    --color-mygreen-900: #202915;
    --color-mybrown-50: #f3f1ea;
    --color-mybrown-100: #e8e3d5;
    --color-mybrown-200: #d0c6aa;
    --color-mybrown-300: #b9aa80;
    --color-mybrown-400: #a18d55;
    --color-mybrown-500: #8a712b;
    --color-mybrown-600: #6e5a22;
    --color-mybrown-700: #53441a;
    --color-mybrown-800: #372d11;
    --color-mybrown-900: #1c1709;
    --font-mytext: var(--font-nunito), sans-serif;
    --font-mytitles: var(--font-big-shoulders-stencil-text), system-ui;
    --font-myicons: var(--font-material-icons-outlined), sans-serif;
}


/* Chad specific styles */


@layer components {
    h2::before, h3::before {
        content: '• ';
    }
    h2::after, h3::after {
        content: ' •';
    }
}
@layer base {
    ::selection {
        background-color: #7dd0c4;
        color: #8a712b;
    }
    .dark ::selection {
        background-color: #def3f0;
        color: #8a712b;
    }
    h1, h2, h3 {
        @apply font-mytitles;
    }
    h1 {
        @apply sm:text-6xl text-4xl font-bold dark:text-myteal-500 text-slate-800 mt-1;
    }
    h2 {
        @apply text-3xl text-myteal-500 dark:text-myteal-500 mt-3;
    }
    h3 {
        @apply text-2xl text-myteal-500 dark:text-myteal-500 mt-3;
    }
    h4 {
        @apply dark:text-white text-black font-mytitles;
      }
          p {
        @apply dark:text-gray-100 font-mytext tracking-normal text-gray-700 p-3;
    }
    .btn {
        @apply hover:ring-2 hover:ring-offset-2 hover:ring-myteal-300 py-2 px-4 m-0.5 text-sm rounded-md;
    }
    .font-myicons {
        @apply not-italic text-4xl text-myteal-500;
    }
    img {
        @apply z-0;
    }
}

.ball { 
    transition: transform 0.3s; 
} 
.ball:hover { 
    transform: scale(1.1); 
} 
.popup { 
    z-index: 10; display: none; position: absolute; background: white; border: 1px solid gray; padding: 10px; border-radius: 5px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
}
